* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url("../src/bg 1.svg");
  background-position: 50% 40%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  font-family: "Noto Sans TC", sans-serif;
  list-style: none;
}

main {
  height: 85vh;
}

.group {
  position: relative;
  margin-bottom: 45px;
}

.title {
  padding: 20px 0;
  font-size: 20px;
  color: #ffffff;
  letter-spacing: 5px;
  font-weight: 300;
  text-shadow: 0px 0px 10px #000;
}

input {
  width: 280px;
  font-size: 18px;
  padding: 10px 10px 10px 30px;
  display: block;
  border: none;
  background-color: #fff6e7;
  border-radius: 20px;
  color: #224040;
}

input:focus {
  outline: 2px solid #224040;
}

label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 30px;
  top: 7px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 16px;
  color: #fba63a;
}

form .btn {
  text-align: center;
}

form .btn button {
  background-color: #468484;
  border: none;
  padding: 10px 30px;
  border-radius: 1.5rem;
  color: #ffffff;
  cursor: pointer;
}

form .btn button:hover {
  -webkit-box-shadow: 0px 0px 10px #62b6b6;
          box-shadow: 0px 0px 10px #62b6b6;
}

form .btn button:active {
  -webkit-box-shadow: 0px 0px 20px #62b6b6;
          box-shadow: 0px 0px 20px #62b6b6;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

form a {
  text-decoration: none;
  color: #fba63a;
  font-size: 14px;
}

form a:hover {
  color: #fcd29b;
}

.login-container {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-container .login-title {
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 0px 15px #000;
  letter-spacing: 5px;
  margin-bottom: 20px;
  font-weight: 300;
}

.login-container .login-card {
  max-width: 600px;
  margin-top: 30px;
  margin: 0 auto;
  padding: 30px 30px 40px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30vw;
  border-radius: 1.5rem;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.03)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.03));
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  -webkit-box-shadow: 5px 22px 54px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 22px 54px rgba(0, 0, 0, 0.3);
}

.login-container .login-card .third-party {
  padding-top: 30px;
  text-align: center;
}

.login-container .login-card .third-party .google-login {
  padding-bottom: 20px;
  width: 280px;
}

.login-container .login-card .third-party .google-login a {
  text-decoration: none;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  padding: 8px 18px;
  background-color: rgba(0, 0, 0, 0.379);
  border-radius: 1.5rem;
}

.login-container .login-card .third-party .google-login a:hover {
  -webkit-box-shadow: 0px 0px 10px #62b6b6;
          box-shadow: 0px 0px 10px #62b6b6;
}

.login-container .login-card .third-party .google-login a img {
  width: 40px;
  padding: 0 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.login-container .login-card .third-party .google-login a:hover img {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.login-container .login-card .third-party .facebook-login {
  width: 280px;
}

.login-container .login-card .third-party .facebook-login a {
  text-decoration: none;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  padding: 8px 18px;
  background-color: rgba(0, 0, 0, 0.379);
  border-radius: 1.5rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.login-container .login-card .third-party .facebook-login a:hover {
  -webkit-box-shadow: 0px 0px 10px #62b6b6;
          box-shadow: 0px 0px 10px #62b6b6;
}

.login-container .login-card .third-party .facebook-login a img {
  width: 40px;
  padding: 0 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.login-container .login-card .third-party .facebook-login a:hover img {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

footer {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #224040;
  color: white;
}

footer .footer_left {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer_left .footer_logo {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer_left .footer_logo .big_title {
  font-size: x-large;
  font-weight: 400;
}

footer .footer_left .footer_logo .footer_icon {
  font-size: x-large;
}

footer .footer_right {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

footer .footer_right li {
  font-size: larger;
  font-weight: 400;
}

@media (max-width: 1200px) {
  body main .login-container .login-card {
    width: 40vw;
  }
  body main .login-container .login-card .title {
    font-size: 16px;
  }
  body main .login-container .login-card .third-party .google-login,
  body main .login-container .login-card .third-party .facebook-login {
    width: 240px;
  }
  body main .login-container form input {
    width: 250px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  body main .login-container .login-card {
    width: 450px;
  }
  body main .login-container form input {
    width: 250px;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  body main .login-container .login-title {
    font-size: 18px;
  }
  body main .login-container .login-card {
    width: 450px;
  }
  body main .login-container .login-card .third-party {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main .login-container .login-card .third-party .google-login,
  body main .login-container .login-card .third-party .facebook-login {
    min-width: 80px;
  }
  body main .login-container form .title {
    font-size: 14px;
  }
  body main .login-container form input {
    width: 250px;
    padding: 10px 10px 7px 30px;
  }
  body main .login-container form .group label {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  body main .login-container .login-title {
    font-size: 18px;
  }
  body main .login-container .login-card {
    width: 80vw;
  }
  body main .login-container .login-card .third-party {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main .login-container .login-card .third-party .google-login,
  body main .login-container .login-card .third-party .facebook-login {
    min-width: 80px;
  }
  body main .login-container .login-card .third-party .google-login a,
  body main .login-container .login-card .third-party .facebook-login a {
    font-size: 12px;
  }
  body main .login-container form .title {
    font-size: 14px;
  }
  body main .login-container form input {
    width: 180px;
    padding: 6px 10px 3px 30px;
  }
  body main .login-container form .group label {
    font-size: 12px;
  }
}
/*# sourceMappingURL=login.css.map */