@-webkit-keyframes member-icon {
  0% {
    -webkit-filter: drop-shadow(0 0 0);
            filter: drop-shadow(0 0 0);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    -webkit-filter: drop-shadow(0px 0px 5px #fbbc05);
            filter: drop-shadow(0px 0px 5px #fbbc05);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-filter: drop-shadow(0 0 0);
            filter: drop-shadow(0 0 0);
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes member-icon {
  0% {
    -webkit-filter: drop-shadow(0 0 0);
            filter: drop-shadow(0 0 0);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    -webkit-filter: drop-shadow(0px 0px 5px #fbbc05);
            filter: drop-shadow(0px 0px 5px #fbbc05);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-filter: drop-shadow(0 0 0);
            filter: drop-shadow(0 0 0);
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  letter-spacing: 3px;
  text-shadow: 1px 1px 4px var(--transparent);
  color: var(--textColor);
  font-size: var(--subtitle_text);
}

@media screen and (max-width: 1604px) {
  .flex-container {
    gap: 4rem;
  }
}

@media screen and (max-width: 1071px) {
  .flex-container {
    gap: 0;
  }
}

@media screen and (max-width: 768px) {
  .flex-container > * {
    margin: auto;
  }
}

.flex-container .left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.flex-container .left .member-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10% 0;
  gap: 1rem;
}

.flex-container .left .member-name img {
  width: 3rem;
}

.flex-container .left .member-level-card {
  padding: 40px;
  width: 450px;
  height: 280px;
  border-radius: 1.5rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--cardBackground)));
  background-image: linear-gradient(var(--cardBackground));
  -webkit-box-shadow: 2px 2px 16px var(--transparent);
          box-shadow: 2px 2px 16px var(--transparent);
}

.flex-container .left .member-level-card > * {
  margin: auto;
}

@media screen and (max-width: 874px) {
  .flex-container .left .member-level-card {
    width: 400px;
    font-size: var(--button_text);
  }
}

@media screen and (max-width: 555px) {
  .flex-container .left .member-level-card {
    width: 70vw;
    font-size: 12px;
    line-height: 20px;
  }
}

@media screen and (max-width: 400px) {
  .flex-container .left .member-level-card {
    height: 350px;
  }
}

.flex-container .left .member-level-card .top-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-container .left .member-level-card .top-title .left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
}

.flex-container .left .member-level-card .top-title .left svg {
  width: 4rem;
  -webkit-filter: drop-shadow(0px 0px 5px #fbbc05);
          filter: drop-shadow(0px 0px 5px #fbbc05);
  -webkit-animation: rotate 5s infinite 1s;
          animation: rotate 5s infinite 1s;
}

@media screen and (max-width: 400px) {
  .flex-container .left .member-level-card .top-title .left svg {
    width: 2rem;
  }
}

.flex-container .left .member-level-card .top-title .right {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40%;
          flex: 1 0 40%;
}

.flex-container .left .member-level-card .total-spend,
.flex-container .left .member-level-card .member-upgrade {
  margin: 1rem 0;
}

.flex-container .left .member-level-card .total-spend .one,
.flex-container .left .member-level-card .total-spend .two,
.flex-container .left .member-level-card .total-spend .three,
.flex-container .left .member-level-card .member-upgrade .one,
.flex-container .left .member-level-card .member-upgrade .two,
.flex-container .left .member-level-card .member-upgrade .three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px 0;
}

.flex-container .left .member-level-card .total-spend .one span:nth-child(2),
.flex-container .left .member-level-card .total-spend .two span:nth-child(2),
.flex-container .left .member-level-card .total-spend .three span:nth-child(2),
.flex-container .left .member-level-card .member-upgrade .one span:nth-child(2),
.flex-container .left .member-level-card .member-upgrade .two span:nth-child(2),
.flex-container .left .member-level-card .member-upgrade .three span:nth-child(2) {
  color: var(--textColor);
  text-shadow: 0px 1px 4px var(--primary_color_500);
}

.flex-container .left .member-level-card .total-spend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-container .left .member-level-card .total-spend span:nth-child(2) {
  color: var(--textColor);
  text-shadow: 0px 1px 4px var(--primary_color_500);
}

.flex-container .right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  font-size: var(--button_text);
}

.flex-container .right .line-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
}

@media screen and (max-width: 485px) {
  .flex-container .right .line-container {
    -webkit-transform: scale(0.8) translateY(-50px);
            transform: scale(0.8) translateY(-50px);
  }
}

.flex-container .right .line-container .outdoor-beginner,
.flex-container .right .line-container .medium-outdoor-player,
.flex-container .right .line-container .advanced-outdoor-player {
  border: 1px solid rgba(255, 255, 255, 0.625);
  -webkit-filter: drop-shadow(0px 0px 5px #fbbc05);
          filter: drop-shadow(0px 0px 5px #fbbc05);
  border-radius: 60px;
  width: 370px;
  height: 70px;
  margin: 38px 0;
  position: relative;
  z-index: 20;
}

.flex-container .right .line-container .outdoor-beginner svg,
.flex-container .right .line-container .medium-outdoor-player svg,
.flex-container .right .line-container .advanced-outdoor-player svg {
  width: 3rem;
  height: 70px;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
}

.flex-container .right .line-container .outdoor-beginner:hover svg,
.flex-container .right .line-container .medium-outdoor-player:hover svg,
.flex-container .right .line-container .advanced-outdoor-player:hover svg {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

@media screen and (max-width: 485px) {
  .flex-container .right .line-container .outdoor-beginner,
  .flex-container .right .line-container .medium-outdoor-player,
  .flex-container .right .line-container .advanced-outdoor-player {
    width: 300px;
    font-size: var(--button_text);
  }
}

@media screen and (max-width: 376px) {
  .flex-container .right .line-container .outdoor-beginner,
  .flex-container .right .line-container .medium-outdoor-player,
  .flex-container .right .line-container .advanced-outdoor-player {
    width: 283px;
  }
}

.flex-container .right .line-container .top-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  gap: 1rem;
}

.flex-container .right .line-container .top-title .left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.flex-container .right .line-container .top-title .right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 80%;
          flex: 1 1 80%;
}

.flex-container .right .line-container .active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--cardBackground)));
  background-image: linear-gradient(var(--cardBackground));
}

.flex-container .right .line-container {
  position: relative;
}

.flex-container .right .line-container .line {
  position: absolute;
  width: 77.55px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.625);
  top: 332px;
  -webkit-transform: rotate(90deg) translateX(-50%);
          transform: rotate(90deg) translateX(-50%);
  -webkit-transform-origin: left;
          transform-origin: left;
  margin-left: 182px;
  z-index: -1;
}

@media screen and (max-width: 485px) {
  .flex-container .right .line-container .line {
    margin-left: 150px;
  }
}

.flex-container .right .line-container .line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--input_color);
  -webkit-filter: drop-shadow(2px 0px 3px #fbbc05);
          filter: drop-shadow(2px 0px 3px #fbbc05);
  -webkit-animation: animate-line 2s linear 3s forwards;
          animation: animate-line 2s linear 3s forwards;
}

.flex-container .right .line-container .line ~ .line {
  top: 186px;
}

@-webkit-keyframes animate-line {
  0% {
    width: 0;
  }
  100% {
    width: 77.55px;
  }
}

@keyframes animate-line {
  0% {
    width: 0;
  }
  100% {
    width: 77.55px;
  }
}
/*# sourceMappingURL=member-level.css.map */