* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url("../src/bg 1.svg");
  background-position: 50% 40%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: relative;
}

nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  padding-left: 30px;
}

nav ul li {
  list-style-type: none;
  padding: 20px;
}

nav ul li a {
  font-size: 20px;
  text-decoration: none;
  color: #224040;
}

nav ul li.login {
  border: 1px solid #224040;
  padding: 10px 20px;
  border-radius: 1.5rem;
}

nav ul li.login:hover {
  background-color: #224040;
}

nav ul li.login:hover a {
  color: #ffffff;
}

nav ul li.hover:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid #224040;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

nav img {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

nav img:hover {
  -webkit-transform: translate(-50px, -10px);
          transform: translate(-50px, -10px);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.group {
  position: relative;
  margin-bottom: 45px;
}

.title {
  padding: 20px 0;
  font-size: 20px;
  color: #ffffff;
  letter-spacing: 5px;
  font-weight: 400;
  text-shadow: 0px 0px 10px #000;
}

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  background-color: #fff6e7;
  border-radius: 20px;
}

input:focus {
  outline: 2px solid #224040;
}

label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 30px;
  top: 7px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 16px;
  color: #fba63a;
}

form .btn {
  text-align: center;
}

form .btn button {
  background-color: #468484;
  border: none;
  padding: 10px 30px;
  border-radius: 1.5rem;
  color: #ffffff;
  cursor: pointer;
}

form .btn button:hover {
  -webkit-box-shadow: 0px 0px 10px #62b6b6;
          box-shadow: 0px 0px 10px #62b6b6;
}

form .btn button:active {
  -webkit-box-shadow: 0px 0px 20px #62b6b6;
          box-shadow: 0px 0px 20px #62b6b6;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.login-container {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-container .login-title {
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 0px 15px #000;
  letter-spacing: 5px;
  margin-bottom: 20px;
  font-weight: 300;
}

.login-container .login-card {
  border-radius: 1.5rem;
  padding: 50px 150px 150px 150px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.03)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.03));
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  -webkit-box-shadow: 5px 22px 54px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 22px 54px rgba(0, 0, 0, 0.3);
}

.login-container .login-card .third-party {
  padding-top: 30px;
  text-align: center;
}

.login-container .login-card .third-party .google-login {
  padding-bottom: 20px;
}

.login-container .login-card .third-party .google-login a {
  text-decoration: none;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  padding: 8px 20px;
  background-color: rgba(0, 0, 0, 0.543);
  border-radius: 1.5rem;
}

.login-container .login-card .third-party .google-login a:hover {
  -webkit-box-shadow: 0px 0px 10px #62b6b6;
          box-shadow: 0px 0px 10px #62b6b6;
}

.login-container .login-card .third-party .google-login a img {
  width: 40px;
  padding: 0 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.login-container .login-card .third-party .google-login a:hover img {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.login-container .login-card .third-party .facebook-login a {
  text-decoration: none;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  padding: 8px 20px;
  background-color: rgba(0, 0, 0, 0.543);
  border-radius: 1.5rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.login-container .login-card .third-party .facebook-login a:hover {
  -webkit-box-shadow: 0px 0px 10px #62b6b6;
          box-shadow: 0px 0px 10px #62b6b6;
}

.login-container .login-card .third-party .facebook-login a img {
  width: 40px;
  padding: 0 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.login-container .login-card .third-party .facebook-login a:hover img {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
/*# sourceMappingURL=style.css.map */